/********** Template CSS **********/
:root {
    --primary: #0E301D !important;
    --secondary: #777777;
    --light: #F8F8F8;
    --dark: #252525;
}

body {
    font-family:
        "IBM Plex Sans",
        "DenitaScript",
        "Acumin Variable Concept",
        "Athelas", !important;
    background-color: #fffdeb;
    color: #fffdeb !important;
}

.bg-dark-green {
    background-color: #0E301D !important;
}

.text-dark-green *{
  color: #0E301D !important;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");

}

@font-face {
    font-family: "DenitaScript";
    src: url("/fonts/denitascript-3z8mp.ttf") format("truetype");
}

@font-face {
    font-family: "Athelas";
    src: url("/fonts/Athelas.ttc") format("truetype");
}

@font-face {
    font-family: "Acumin Variable Concept";
    src: url("/fonts/AcuminVariableConcept.otf") format("opentype");
}


.ibm {
    font-family: "IBM Plex Sans", sans-serif;
}

.denita {
    font-family: "DenitaScript", cursive;
    font-weight: 400;
}

.athelas {
    font-family: "Athelas", serif;
}

.acumin {
    font-family: "Acumin Variable Concept", sans-serif;
}

h1 {
    font-size: 72px !important;
    font-weight: 500;
}

h2 {
    font-size: 48px !important;
    font-weight: 500;
}

h3 {
    font-size: 48px !important;
    font-weight: 500;
}

h4 {
    font-size: 36px !important;
    font-weight: 400;
}

h5 {
    font-size: 24px !important;
    font-weight: 400;
}

h6 {
    font-size: 18px !important;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}






p {
    font-size: 14px;
    line-height: 1.30;
    letter-spacing: 0.15px;
    color: #f4f2ec;
}

@font-face {
    font-family: 'Canela';
    src: url('/fonts/Canela-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}







.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 20px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--dark);
}



.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 8px 0;
    }

    .navbar .navbar-nav {
        margin-top: 8px;
        border-top: 1px solid rgba(256, 256, 256, .1)
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
#header-carousel .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* background: rgba(0, 0, 0, .5); */
    z-index: 1;
    width: 100%;
}

#header-carousel .carousel-control-prev,
#header-carousel .carousel-control-next {
    width: 10%;
}

#header-carousel .carousel-control-prev-icon,
#header-carousel .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 500px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#header-carousel .carousel-indicators [data-bs-target] {
    width: 60px;
    height: 60px;
    text-indent: 0;
    margin-bottom: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
    overflow: hidden;
}

#header-carousel .carousel-indicators [data-bs-target] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 4px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}



/*** Img Border ***/
.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.img-border::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 3rem;
    border: 5px solid var(--primary);
    border-radius: 6px;
}

.img-border img {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 6px;
}


/*** Facts ***/
.fact-item {
    transition: .5s;
}

.fact-item:hover {
    margin-top: -10px;
    background: #FFFFFF !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    border: 1px solid transparent;
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: none;
    border: 1px solid #DEE2E6;
}


/*** Feature ***/
.progress {
    height: 5px;
}

.progress .progress-bar {
    width: 0px;
    transition: 3s;
}


/*** Project ***/
.project-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .5);
    border-radius: 6px;
    opacity: 0;
    transition: .5s;
}

.project-item:hover a {
    opacity: 1;
}

.project-carousel .owl-dots {
    display: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-carousel .owl-dot {
    width: 35px;
    height: 35px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEE2E6;
    border-radius: 35px;
    transition: .5s;
}

.project-carousel .owl-dot:hover,
.project-carousel .owl-dot.active {
    color: #FFFFFF;
    border-color: var(--primary);
    background: var(--primary);
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.team-item .team-text {
    position: relative;
    height: 65px;
    overflow: hidden;
}

.team-item .team-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-item:hover .team-title {
    top: -65px;
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 65px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    transition: .5s;
}

.team-item .team-social .btn {
    margin: 0 3px;
}

.team-item:hover .team-social {
    top: 0;
}


/*** Testimonial ***/

.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEE2E6;
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    border-color: var(--primary);
    background: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}


@media (max-width: 991px) {
    .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}


/* Mobile only: force blue navbar background */
@media (max-width: 991px) {
    #mainNavbar {
        background-color: #0E301D !important;
    }
}

.carousel-content {
    margin-top: -200px;
    margin-left: 40px;
}

.carousel-content h1 {
    font-size: 50px;
    margin-top: 246px;
    margin-left: 40px;
}

.carousel-content p {
    margin-left: 40px;
    text-align: left;
    font-size: 24px;
}





.heading-main {
    font-family: "Athelas";
    font-size: clamp(42px, 6vw, 72px);
    line-height: 1.15;
    color: #fffdeb;
}






.heading-accent {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.heading-accent {
    font-style: italic;
}


.navbar,
.navbar a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;

}


.navbar a:hover,
.navbar .active {
    text-decoration: underline;
    text-underline-offset: 6px;
    color: #fff !important;
}






.navbar {
    position: relative;
    /* VERY IMPORTANT */
}

.nav-icons {
    position: absolute;
    top: 12px;
    right: 128px;
    display: flex;
    gap: 30px;

}

.nav-icons i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #f5f2eb;
    cursor: pointer;
}



/* Navbar font & spacing fix */
.navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #f5f2eb !important;
    padding: 0 22px;
    letter-spacing: 0.3px;
}

/* Active & hover underline like screenshot */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* Dropdown arrow alignment */
.navbar-nav .dropdown-toggle::after {
    margin-left: 6px;
}

/* Navbar vertical alignment */
.navbar-nav {
    align-items: center;
}

/* Desktop spacing */
@media (min-width: 992px) {
    .navbar-nav {
        gap: 72px;
    }
}

.who-we-are {
    font-family: 'athelas';
    background-color: #0E301D;
    margin: 20px 0px;

}

.who-we-are .heading h2,
p {
    text-align: center;
}

.who-we-are .heading p {
    font-size: 20px;
}

.who-we-are img {
    width: 50px;
    height: 50px;
    margin-left: 80px;
}

.who_we_are_content p {
    text-align: left;
}


.all-in-one-section h4 {
    color: #0E301D !important;

}

.project-item img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}



.stats {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    padding: 40px 0px;

}

.label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 92px;
    padding-left: 0px;
    margin-left: 0px;
}

.bars {
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 370px;
    padding: 20px 0px;
    font-size: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.b1 {
    height: 320px;
    background: #0b2a1a;
}

.b2 {
    height: 480px;
    background: #6b5c46;
}

.b3 {
    height: 620px;
    background: #061c12;
}

.stats-section h2 {
    color: #0E301D;
    text-align: center;
}


.brand-area {
    background-color: #0E301D;
    width: 100%;
    padding: 0px;

}

.brand-area img {
    margin-left: -22px;
}

.brand-section {
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.brand-section h1 {
    line-height: 1;
    padding-bottom: 5px;
    border-bottom: 1px solid #f4f2ec;
    margin-bottom: 20px;
}


.container {}

.logos-ticker {
    --speed: 15s;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    margin: 0 auto;
}

.logos-ticker-fade {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

}

.logos-ticker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide-to-left var(--speed) linear infinite;
}

.logos-ticker--right .logos-ticker-container {
    animation-name: slide-to-right;
}

.logos-ticker-container>svg {
    margin: 0 24px;
}

@keyframes slide-to-left {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slide-to-right {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}


.logo-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.our-partners {
    font-size: 32px;
    font-weight: 600;
}



.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    z-index: 999;
}

.white-heading {
    color: #ffffff;
}

.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}


.heading span {
    display: block;

}

.white-heading span {
    color: #ffffff;
}

/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background-color: #0E301D;
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    background-color: #0E301D;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}

#testimonial4 .carousel-inner:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#testimonial4 .carousel-inner:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#testimonial4 .carousel-inner .item {
    overflow: hidden;
}

.testimonial4_indicators .carousel-indicators {
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.testimonial4_indicators .carousel-indicators li {
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators .active {
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px 3px;
    background-color: #9dd3af;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
    height: 3px;
}

.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.testimonial4_control_button .carousel-control {
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
    transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial4_control_button .carousel-control.left {
    left: 7%;
    top: 50%;
    right: auto;
}

.testimonial4_control_button .carousel-control.right {
    right: 7%;
    top: 50%;
    left: auto;
}

.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}

.testimonial4_header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

.testimonial4_header h4 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.testimonial4_slide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: auto;
    padding: 40px;
    position: relative;
    text-align: center;
}

.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}



.testimonial .carousel {
    padding-bottom: 50px;
}

.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 80px;
}

/* ------testimonial  close-------*/


.map-section h4 {
    text-align: center;
    color: #0E301D !important;
}


.contact-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.contact-info {
    color: #0E301D;
    max-width: 40%;

}

.info-item {
    width: 380px;
    margin-bottom: 80px;

}

.contact-form {
    background: #0E301D;
    padding: 50px;
    width: 500px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #fbf7e6;
    border: none;
    padding: 14px;
    margin-bottom: 20px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    background: #fbf7e6;
    border: none;
    padding: 10px 30px;
    color: #0E301D;
    font-weight: 600;
    display: block;
    margin: auto;
}

.info-item i {
    font-size: 30px;
}

.form-section h4 {
    text-align: center;
    color: #0E301D;
}


.nova-footer-row {
    align-items: center;
}


.nova-footer-btn {
    background: #fff;
    color: #0E301D;
    border-radius: 0;
}



.nova-script {
    font-family: 'cursive';
    font-style: italic;
}

.nova-footer-links {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.nova-footer-links ul {
    list-style: none;
    padding: 0;
}

.nova-footer-right {
    text-align: right;
}

.nova-footer-top {
    background: #0E301D;
    padding: 15px 0;
    text-align: left;
}

.nova-footer-link {
    color: #fbf7e6;
    text-decoration: none;
    font-size: 14px;
}



 .service-area h4{
         color: #0E301D !important;

    }


    .nova-service-page{
  padding:80px 0;
  margin-top: 170px;
  color: #0E301D;
}

.nova-service-title{
 
  margin-bottom:60px;
}

.nova-service-title h1{
    text-align: center;
  font-size:38px;
  color:#0E301D;
  margin-bottom:15px;
}

.nova-service-title p{
  font-size:18px;
  color:#555;
}

.nova-service-section{
  padding:50px;
  margin-bottom:40px;
  border-left:6px solid #0E301D;
}

.bg-light{
  background:#f8f8f5;
}

.bg-dark-soft{
  background:#eef3f0;
}

.nova-service-section h3{
  margin-bottom:20px;
  color:#0E301D;
}

.nova-service-section ul{
  padding-left:20px;
}

.nova-service-section li{
  margin-bottom:12px;
  line-height:1.6;
}


.nova-pricing-wrap .nova-pricing-btn{
  background-color: #0E301D;
  color: #f4f2ec !important;
}


    .service-banner .content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.about-section{
            margin-top: 200px;
            text-align: center;
        }
        .about-section h4{
            font-weight: 600;
        }
        .about-section h5{
            font-weight: 500;
        }

          .google-map  h4{
            font-weight: 700;
        }